<div class="row my-3 col-xl-10">

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2" [ngClass]="{'completed-card': true}">
        <div
          class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">thumb_up</i>
        </div>
        <h3 class="card-title">
          <span></span>
        </h3>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Завершенные задачи</p>
          <h2 class="mb-0">{{completeTaskInCategory}}</h2>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0">
          <span class="text-success text-sm font-weight-bolder" *ngIf="totalTasksInCategory">
            из {{totalTasksInCategory}}</span></p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">thumb_down</i>
        </div>
        <h3 class="card-title">
          <span></span>
        </h3>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Незавершенные задачи</p>
          <h2 class="mb-0">{{unCompleteTaskInCategory}}</h2>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0">
          <span class="text-danger text-sm font-weight-bolder" *ngIf="totalTasksInCategory">из {{totalTasksInCategory}}</span></p>
      </div>
    </div>
  </div>



  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">weekend</i>
        </div>
        <h3 class="card-title">
          <span></span>
        </h3>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Процент завершенных задач</p>
          <h2 class="mb-0">{{completeTaskInCategory?(completeTaskInCategory/totalTasksInCategory | percent):'0%'}}</h2>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">из {{totalTasksInCategory}}</span></p>
      </div>
    </div>
  </div>


  <div class="col-xl-3 col-sm-6">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">work</i>
        </div>
        <h3 class="card-title">
          <span></span>
        </h3>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Процент не завершенных задач</p>
          <h2 class="mb-0">{{unCompleteTaskInCategory ?(unCompleteTaskInCategory/totalTasksInCategory | percent):'0%'}}</h2>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">из {{totalTasksInCategory}}</span></p>
      </div>
    </div>
  </div>


</div>
