.pointer {
  cursor: pointer;
}

.category-title {
  width: 70%;
  display: inline-block;
}

.all-category-title {
  width: 85%;
  display: inline-block;
}

.edit-category-icon-area {
  width: 30%;
  display: inline-block;
  text-align: right;
}

.edit-category-icon {
  color: #ffffff;
}

.add-icon-area{
  width: 15%;
  display: inline-block;
  text-align: left;
  color: white;
}

.add-icon{
  cursor: pointer;
  font-size: 20px;
  vertical-align: auto;
}

.vertical-line{
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-block: hidden;
}
